@font-face { 
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face { 
    font-family: "LatoLight";
    src: url('../fonts/Lato/Lato-Light.ttf');
}

@font-face { 
    font-family: "LatoBold";
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

*{
    box-sizing: border-box;
    /* font-family: 'Poppins',sans-serif; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
html,body{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}